.card-btn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #fff;
  min-width: 200px;
}

.btn-info {
  color: #333333;
  font-family: var(--ubuntu-mono);
  font-size: 12px;
  min-height: 12px;
}

.text-muted {
  color: #828282;
}
