/* FONTS */

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Noto-Sans-JP;
  src: url(./assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Mono;
  src: url(./assets/fonts/UbuntuMono-Regular.ttf);
}

/* GENERAL */

:root {
  /* Font Vars */
  --font-list: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --poppins: Poppins, var(--font-list);
  --noto-sans: Noto-Sans-JP, var(--font-list);
  --ubuntu-mono: Ubuntu-Mono, var(--font-list);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
